<h1>Sms</h1>

<table>
  <thead>
    <tr>
    <th>mobile</th>
    <th>content</th>
    <th>username</th>
    <th>timestamp</th>
    <th>digest</th>
    <th>created_at</th>      
    </tr>
  </thead>

  <tbody>
    <%= render @sm %>
  </tbody>
</table>