<head>
  <title>List of SMS' sent</title>
</head>

<body>
  <table class="tg">
    <thead>
      <tr>
      <th class="tg-2kuk">mobile</th>
      <th class="tg-2kuk">content</th>
      <th class="tg-2kuk">username</th>
      <th class="tg-2kuk">orig_timestamp</th>
      <th class="tg-2kuk">timestamp</th>
      <th class="tg-2kuk">digest</th>
      <th class="tg-2kuk">created_at</th>      
      </tr>
    </thead>
  
    <tbody>
      <%= render @sm %>
    </tbody>
  </table>
</body>